.landingPage {
    width: 100%;
    height: 100%;
    background-color:  black;
    position: absolute;
    top: 0px;
    display: grid;
    grid-template-rows: 11% 89% 80% 115% 135%;
}

.landingNavBar {
    margin-bottom: 70px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.landingNavBar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-right: 10px;
    width: 160px;
    height: 60px;
}

.landingNavBar ul li {
    display: inline-block;
    padding: 0px 20px;
}

.logoContainer {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 40px;
    display: flex;
    cursor: pointer;
}

.profileTitle {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    font-size: 23px;
    color: white;
}

.githubIcon1 {
    width: 35px; 
    height: 35px;
    cursor: pointer;
}

.githubIcon:active {
    opacity: 0.7;
}

.section1 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.sec1A {
    width: 100%;
    height: 100%;
}

.sec1B {
    width: 100%;
    height: 100%;
}

.P1A {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 88px;
    color: #0F42FF;
    margin-left: 100px;
    margin-top: 90px;
}

.P1B {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 57px;
    color: white;
}

.sec1B {
    width: 100%;
    height: 100%;
}

.profile {
    width: 400px;
    height: 400px;
    margin-top: 18%;
    margin-left: 40px;
}

.section2 {
    background-color: #0F42FF;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

.aboutTitle {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    font-size: 37px;
    color: white;
}

.aboutText {
    width: 800px;
    height: 120px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 25px;
}

.linkedinIcon {
    width: 35px; 
    height: 35px;
    cursor: pointer;
}

.resumeButton {
    background-color: #0F42FF;
    width: 90px;
    height: 30px;
    border-radius: 7px;
    border: solid 2px white;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-right: 60px;
    cursor: pointer;
}

.resumeButton:hover {
    background-color: white;
    color: #0F42FF;
}

.section3 {
    background-color: black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 11% 89%;
}

.sec3A {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.carousel {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.caseContainer1 {
    background-color: #212121;
    width: 400px;
    height: 550px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: grid;
    grid-template-rows: 39% 10% 42% 9%;
    align-self: center;
}

.caseImage {
    width: 100%;
}

.caseTitle {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
}

.caseText {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
}

.caseGitHolder {
    margin-right: 20px;
    margin-left: auto;
}

.githubIcon2 {
    width: 25px; 
    height: 25px;
    cursor: pointer;
}

.section4 {
    background-color: rgb(7, 7, 7);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 11% 89%;
}

.contactForm {
    border-radius: 15px;
    border: white solid 1px;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 750px;
    overflow: hidden;
    align-self: center;
}

.formCell1 {
    height: 60px;
    width: 85%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 40% 60%;
}

.formLabel {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

.formInput {
    background-color: transparent;
    width: 100%;
    border: white solid 1px;
    border-radius: 7px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.errorMessage {
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin-left: 10px;
    color: #e32727;
}

.formInput:focus {
    background-color: transparent;
    outline: none;
    color: white;
}

.formCell2 {
    height: 240px;
    width: 85%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 10% 90%;
}

.submitButton {
    background-color: #0F42FF;
    color: white;
    width: 100px;
    height: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-style: none;
}

.submitButton:active {
    opacity: 0.7;
}

.formInput2 {
    background-color: transparent;
    height: 240px;
    width: 100%;
    border: white solid 1px;
    border-radius: 7px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    overflow: hidden;
    resize: none;
}

.formInput2:focus {
    background-color: transparent;
    outline: none;
    color: white;
}

.loader {
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 5px solid rgba(220, 220, 220, 0.1);
    border-top: 5px solid white;
    -webkit-background-clip: padding-box; 
    background-clip: padding-box;
    animation: animate 0.7s infinite linear;
}

.cftdiv {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 50% 50%;
}

.thankYouText {
    margin-top: 320px;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg); 
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg); 
    }
}

@media only screen and (max-width: 1332px) { 
    .section1 {
        width: 100%;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
    }

    .profile {
        width: 350px;
        height: 350px;
        margin-top: -30px;
        margin-left: 65%;
    }

    .P1A {
        margin-top: 100px;
        width: 650px;
        font-size: 75px;
    }
    
    .P1B {
        font-size: 55px;
    }
}

@media only screen and (max-width: 1204px) { 
    .P1A {
        margin-left: 70px;
    }
}

@media only screen and (max-width: 1157px) { 
    .profile {
        width: 300px;
        height: 300px;
    }

    .P1A {
        font-size: 65px;
    }
    
    .P1B {
        font-size: 45px;
    }
}

@media only screen and (max-width: 950px) {
    .logoContainer {
        margin-left: 20px;
    }

    .landingNavBar {
        margin-right: 10px;
    }

    .gitContainer1 {
        margin-left: 80px;
    }

    .P1A {
        font-size: 55px;
        margin-left: 45px; 
        width: 400px;
    }
    
    .P1B {
        font-size: 35px;
    }

    .profile {
        width: 280px;
        height: 280px;
    }

    .aboutText {
        font-size: 23px;
        width: 700px;
    }

    .linkedinContainer {
        margin-left: 80px;
    }

    .resumeButton {
        margin-right: 25px;
    }
}

@media only screen and (max-width: 864px) {
    .profile {
        margin-left: 60%;
    }
}

@media only screen and (max-width: 850px) {
    .aboutTitle {
        font-size: 33px;
    }

    .aboutText {
        font-size: 23px;
        width: 650px;
    }

    .contactForm {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 550px;
        height: 750px;
    }
}


@media only screen and (max-width: 760px) {
    .aboutText {
        font-size: 20px;
        width: 500px;
    }
}


@media only screen and (max-width: 740px) {
    .profile {
        margin-left: 55%;
    }
}


@media only screen and (max-width: 675px) {
    .profile {
        margin-left: 50%;
    }
}


@media only screen and (max-width: 650px) {
    .contactForm {
        width: 400px;
        height: 450px;
    }

    .formCell1 {
        height: 40px;
        margin-top: 12px;
    }
    
    .formLabel {
        font-size: 14px;
    }

    .errorMessage {
        font-size: 14px;
    }
    
    .formInput {
        height: 20px;
        border-radius: 5px;
        margin-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .formCell2 {
        height: 150px;
        margin-top: 15px;
    }
    
    .submitButton {
        width: 80px;
        height: 24px;
        margin-top: 20px;
        font-size: 15px;
    }
    
    .formInput2 {
        height: 130px;
        padding-top: 12px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 7px;
    }

    .errorMessage {
        font-size: 12px;
        margin-left: 7px;
    }

    .thankYouText {
        margin-top: 200px;
        color: white;
        font-family: Arial, sans-serif;
        font-weight: lighter;
        font-size: 20px;
    }
}

@media only screen and (max-width: 623px) {
    .githubIcon1 {
        margin-top: -5px;
        width: 30px; 
        height: 30px;
    }

    .linkedinIcon {
        margin-top: -5px;
        width: 30px; 
        height: 30px;
    }

    .aboutTitle {
        font-size: 30px;
    }

    .aboutText {
        font-size: 18px;
        width: 450px;
    }

    .profileTitle {
        margin-left: 10px;
        font-size: 17px;
    }

    .P1A {
        font-size: 45px;
    }

    .P1B {
        font-size: 25px;
    }

    .profile {
        width: 260px;
        height: 260px;
        margin-left: 50%;
    }
}

@media only screen and (max-width: 560px) {
    .profile {
        width: 230px;
        height: 230px;
        margin-left: 50%;
    }

    .aboutText {
        width: 400px;
    }
}

@media only screen and (max-width: 502px) {
    .profile {
        width: 210px;
        height: 210px;
        margin-left: 50%;
    }
}

@media only screen and (max-width: 481px) {
    .logoContainer {
        margin-left: 7px;
    }

    .gitContainer1 {
        margin-left: 110px;
    }

    .P1A {
        margin-left: 32px; 
    }

    .linkedinContainer {
        margin-left: 110px;
    }

    .aboutTitle {
        font-size: 25px;
    }

    .aboutText {
        font-size: 17px;
        width: 300px;
    }

    .resumeButton {
        margin-right: 15px;
    }

    .contactForm {
        width: 300px;
        height: 450px;
    }
}

@media only screen and (max-width: 449px) {
    .profile {
        width: 190px;
        height: 190px;
    }

    .P1A {
        width: 300px;
        font-size: 40px;
    }

    .P1B {
        font-size: 25px;
    }
}


@media only screen and (max-width: 418px) {
    .profile {
        width: 170px;
        height: 170px;
    }
}


@media only screen and (max-width: 382px) {
    .profile {
        margin-left: 45%;
    }
}